<!-- heading menu -->
<mat-menu #headingMenu="matMenu">
    <button mat-menu-item (click)="execCmd(headers[0])">
        <mat-icon svgIcon="format-header-equal"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(headers[1])">
        <mat-icon svgIcon="format-header-1"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(headers[2])">
        <mat-icon svgIcon="format-header-2"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(headers[3])">
        <mat-icon svgIcon="format-header-3"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(headers[4])">
        <mat-icon svgIcon="format-header-4"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(headers[5])">
        <mat-icon svgIcon="format-header-5"></mat-icon>
    </button>
</mat-menu>
<!-- list menu -->
<mat-menu #listMenu="matMenu">
    <button mat-menu-item (click)="execCmd(ul, focus)">
        <mat-icon svgIcon="format-list-bulleted"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(ol, focus)">
        <mat-icon svgIcon="format-list-numbered"></mat-icon>
    </button>
    <button mat-menu-item (click)="execCmd(check, focus)">
        <mat-icon svgIcon="format-list-checks"></mat-icon>
    </button>
</mat-menu>
<mat-toolbar>
    <app-toolbar-item *ngFor="let item of leftItems"
                      [item]="item"
                      (click)="execCmd(item.command)"
    ></app-toolbar-item>
    <app-toolbar-item
        [item]="headingItem"
        [matMenuTriggerFor]="headingMenu"
    ></app-toolbar-item>
    <app-toolbar-item
        [item]="tableItem"
        (click)="openTableConfig()">
    </app-toolbar-item>
    <app-toolbar-item
        [matMenuTriggerFor]="listMenu"
        [item]="listItem"
    ></app-toolbar-item>
    <div class="spacer"></div>
    <app-toolbar-item [item]="previewItem" (click)="showPreview()"></app-toolbar-item>
</mat-toolbar>
